:root {
  size: 1440;
}

/* 112*2 === 224 */
/* 1440 - 224 === 1216 */

body {
  background-color: #838be3;
}

.container {
  padding: 0 112px;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__buttons-group {
  display: flex;
  gap: 41px;
  align-items: center;
  font-family: 'Manrope-Semibold', sans-serif;
  color: #ffffff;
}

.navigation__link {
}

.navigation__button {
}
