:root {
  --max-screen-size: 1440px;
}

body {
  background-color: #838be3;
  /* overflow: hidden; */
  overflow-x: hidden;
}

/* header { */
/* position: relative; */
/* } */

main {
  position: relative;
}

.orbit {
  position: absolute;
  top: -7px;
  left: -31px;
  /* z-index: 1; */
}

.glow-1 {
  position: absolute;
  top: -754px;
  left: -37px;
}

.glow-2 {
  position: absolute;
  top: -754px;
  left: 153px;
}

.star-suriken-contained-little-bold {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: 42px;
  left: 150px;
}

.star-suriken-contained-little-bold img {
  position: absolute;
  top: -183px;
  left: -260px;
}

.girl-cloud {
  position: absolute;
  background: #ffffff;
  top: 31px;
  left: -73px;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Manrope-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #5b63a7;
  padding: 0 32px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heart-one-up {
  position: absolute;
  bottom: 219px;
  right: -27px;
  height: 57px;
  width: 100px;
}

.heart-one-up img {
  position: absolute;
  top: 0;
  right: -31px;
}

/* navigation  */
.navigation {
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 19px;
}

.navigation__buttons-group {
  display: flex;
  gap: 77px;
  align-items: center;
  font-family: 'Manrope-Semibold', sans-serif;
  color: #ffffff;
}

.navigation__logo {
  display: flex;
  align-items: center;
}

/* .navigation__link {
} */

.navigation__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 112px;
}

.navigation__main-text {
  margin-top: 174px;
  align-self: flex-start;
  margin-left: 106px;
  width: 520px;
}

.navigation__title {
  font-family: 'Gatwick-Bold', sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 24px;
}

.navigation__sub-title {
  font-family: 'Manrope-Medium', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.navigation__figure {
  position: relative;
}

.navigation__figure-inner {
  position: relative;
  overflow: hidden;
  width: 410px;
  height: 730px;
}

.navigation__figure-inner img {
  position: absolute;
  left: -134px;
  top: 0;
}

/* slogan */
.glow-3 {
  position: absolute;
  top: -681px;
  left: -440px;
  z-index: 2;
}
.glow-4 {
  position: absolute;
  top: -171px;
  left: 160px;
  z-index: 3;
}

.slogan {
  padding-top: 45px;
  position: relative;
  padding-bottom: 100px;
  z-index: 1;
}

.slogan__wrapper {
  z-index: 3;
  position: relative;
}

.slogan__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan__text {
  width: 600px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 35px;
}

/* how-it */
.how-it {
  padding-top: 77px;
}

.how-it__inner {
  position: relative;
  display: flex;
  justify-content: center;
}

.big-circle-image {
  height: 856px;
  width: 856px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.2;
  /* position: absolute; */
  /* top: 3px; */
  /* left: -132px; */
}

.how-it__love-heart-texted {
  position: absolute;
  top: -31px;
  left: 41px;
  z-index: 2;
  transform: rotate(-9deg);
}

.how-it__title {
  font-family: 'Gatwick-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.how-it__text {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  width: 568px;
  display: flex;
  justify-content: center;
}

.how-it__circle-wrapper {
  z-index: 3;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.how-it__slogan {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
}

.how-it__phone-screen {
  top: 154px;
  left: -143px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.how-it__phone-screen img {
  position: absolute;
  top: -159px;
  left: -350px;
}

.how-it__girl-cloud-box {
  position: absolute;
  top: 380px;
  left: 98px;
  display: flex;
  align-items: flex-start;
  z-index: 2;
}

.how-it__guy-cloud-box {
  position: absolute;
  top: 622px;
  left: 307px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  z-index: 2;
  gap: 17px;
}

.how-it__left-cloud {
  background: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Manrope-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #5b63a7;
  padding: 0 32px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.how-it__right-cloud {
  background: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Manrope-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #5b63a7;
  padding: 0 32px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  width: 330px;
  height: 100px;
}

.girl-cloud-box-2 {
  top: 480px;
  width: 476px;
  /* padding: 30px; */
}

.left-cloud-2 {
  display: flex;
  align-items: center;
  height: 93px;
}

.how-it__big-star {
  position: absolute;
  top: 338px;
  right: 27px;
  width: 50px;
  height: 50px;
}

.how-it__big-star img {
  top: -563px;
  right: -563px;
  position: absolute;
}

.how-it__little-star {
  position: absolute;
  top: 898px;
  right: 134px;
  width: 50px;
  height: 50px;
}

.how-it__little-star img {
  position: absolute;
  top: -543px;
  right: -544px;
}
